<title>DiscordDrive</title>

<p>
  This is an API for the DiscordDrive application, which can be found on GitHub <a href="https://github.com/MihaiZecheru/discord_drive">here</a>
  
  <br><br>

  Query the API by using the following format:
  
  <br><br>
  
  <code>https://discord-drive.mzecheru.com/{uuid}</code>

  <br><br>

  Where <code>{uuid}</code> is the UUID of the file you want to acesss.
</p>

<style>
  p {
    font-size: 1.5em;
  }

  code {
    background-color: #bdbdbd;
  }

  a {
    color: #3f51b5;
  }
</style>